.feeds {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 40px 0;

  @media (max-width: 500px) {
    display: block;
    padding: 20px 0;
  }
}