.nav {
  font-size: 0;
  text-align: right;
}

.navItem {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding: 0 20px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  a {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: relative;

    &:after {
      content: "";
      border-bottom: 3px solid #fff;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      transition: transform .2s ease;
    }

    &.isActive,
    &:focus,
    &:active,
    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}