@import 'assets/scss/base';
@import 'assets/scss/sanitize';

.main-title {
  text-align: center;
  padding: 40px 0;

  h1 {
    font-size: 36px;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #151515;
  color: #fff;
}